################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EntradaSaida/.vs/EntradaSaida.slnx
/MySolution/.vs
/Olamundo/.vs
/Variaveis/.vs
/InverterNomes/.vs
/Conversao/.vs
/ConveaoExplicita/.vs/ConveaoExplicita.slnx
